@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
    font-family: "Montserrat";
}

.banner {

    background: #0079C8;
    border-radius: 4px;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}

@media (max-width:1023px) {
    .banner {
        width: 100%;
        height: calc(100vh - 100px);
    }
}

@media (min-width:1024px) {
    .banner {

        width: 927px;
        height: 197px;
        margin: auto;
    }
}


.banner p {
    margin: 35px 0px 0px 52px;
    align-self: flex-start;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;

    /* Primary/White */
    color: #FFFFFF;
}

@media (max-width:1023px) {
    .banner p {
        align-self:center;
        font-size: 18px;
        text-align: center;
    }
}

.banner h1 {
    margin-left: 10px;
    width: 483px;
    height: 87px;


    /* H1 */
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 44px;

    color: #FFFFFF;
}

@media (max-width:1023px) {
    .banner h1 {
        width: 100%;
        font-size: 30px;
        text-align: center;
    }
}

.banner button {
    margin: 60px 10px 0px 0px;
    width: 261px;
    height: 56px;

    /* Primary/White */
    background: #FFFFFF;
    border-radius: 4px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;

    /* identical to box height, or 100% */
    align-items: center;
    text-align: center;

    /* Primary/Bupa Blue */
    color: #0079C8;
}

@media (max-width:1023px) {
    .banner button {
        max-width: 80%;
    }
}



