@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
    font-family: "Montserrat";
}

.banner {
  position: relative;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  
  width: 927px;
  height: 197px;

  background: #0079C8;
  border-radius: 4px;
}

.banner p {
  position: absolute;
  top: 20px;
  bottom: 137px;
  left: 52.19px;
  right: 601.81px;
  width: 273px;
  height: 20px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;

  /* identical to box height, or 100% */

  /* Primary/White */
  color: #FFFFFF;
}

.banner h1 {
  position: absolute;
  top: 60px;
  bottom: 30px;
  left: 50px;
  right: 394px;

  width: 483px;
  height: 87px;
  

  /* H1 */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 44px;

  /* or 126% */

  /* Primary/White */
  color: #FFFFFF;
}

.banner button {

  /* CTA / Blue */
  position: absolute;
  top: 101px;
  bottom: 40px;
  left: 616px;
  right: 50px;

  width: 261px;
  height: 56px;

  /* Primary/White */
  background: #FFFFFF;
  border-radius: 4px;

  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;

  /* identical to box height, or 100% */
  align-items: center;
  text-align: center;

  /* Primary/Bupa Blue */
  color: #0079C8;
}