@import url("https://fonts.googleapis.com/css?family=Montserrat");

.banner {
    margin: 10px;
    background: #0079C8;
    border-radius: 4px;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

@media (min-width:1024px) {
    .banner {
        width: 927px;
        height: 197px;
    }
}

@media (max-width:1023px) {
    .banner {
        width: 100%;
        height: fit-content;
    }
}

.banner p {
    align-self: flex-start;

    margin: 35px 0px 0px 52px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;

    color: #FFFFFF;
}

@media (max-width:1023px) {
    .banner p {
        align-self: center;

        margin-top: 10px;
        padding: 10px;

        font-size: 18px;
        line-height: 18px;
        text-align: center;
    }
}

@media (max-width:460px) {
    .banner p {
        align-self: center;
        
        margin-top: 10px;
        padding: 5px;

        font-size: 16px;
        line-height: 16px;
        text-align: center;
    }
}


.banner h1 {
    margin-left: 10px;
    width: 483px;
    height: 87px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 44px;

    color: #FFFFFF;
}

@media (max-width:1023px) {
    .banner h1 {

        padding: 10px;
        width: 100%;
        font-size: 28px;
        line-height: 40px;
        text-align: center;
    }
}

@media (max-width:460px) {
    .banner h1 {

        padding: 5px;
        width: 100%;
        font-size: 22px;
        line-height: 36px;
        text-align: center;
    }
}

.banner button {
    margin: 60px 10px 0px 0px;
    width: 261px;
    height: 56px;

    background: #FFFFFF;
    border-radius: 4px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;

    align-items: center;
    text-align: center;

    color: #0079C8;
}

@media (max-width:1023px) {
    .banner button {
        margin: 5%;

        width: 80%;
        height: 45px;

        font-weight: 550;
        font-size: 15px;
        line-height: 15px;
    }
}