.main_column {
    margin: 10px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.text_block {
    margin:10px;
}

.pictures_module .pictures {
    margin:10px 10px 30px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-evenly;
    gap: 10px;
}

.pictures_module h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;

    color: #333333
}

@media (max-width:1023px) {
    .pictures_module p {
        font-weight: 550;
        font-size: 18px;
        line-height: 26px;
    }
}

@media (max-width:460px) {
    .pictures_module p {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
    }
}

.pictures_module p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 27px;

    color: #333333;
}

@media (max-width:1023px) {
    .pictures_module p {
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
    }
}

@media (max-width:460px) {
    .pictures_module p {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
    }
}

@media (max-width:460px) {
    .pictures_module img {
        width: 80%;
        height: auto;
    }
}