.text_block_with_picture {
    display: flex;
    flex-flow: row;

}

.text_block_with_picture .text_block h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;

    color: #333333

}

.text_block_with_picture .text_block p {

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;

    color: #333333;

}

.text_block_with_picture .text_block button {
    width: auto;
    padding: 20px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;

    /* identical to box height, or 100% */
    display: flex;
    align-items: center;
    text-align: center;

    /* Primary/Bupa Blue */
    color: #0079C8;


}

@media (max-width:750px) {
    .text_block_with_picture {
        display: flex;
        flex-flow: column;
    }
    /* .text_block_with_picture .text_block {
        width: 100%;
    }
    .text_block_with_picture img {
        width: 100%;
        height: auto;
    } */
}
